#NET "CLK_125MHz" LOC = F13 | IOSTANDARD =LVCMOS33;
#NET "CLK_25MHz" LOC = P26 | IOSTANDARD = LVCMOS33;

NET "Clk" LOC = P26 | IOSTANDARD = LVCMOS33;
NET "Clk" TNM_NET = Clk;
TIMESPEC Clk = PERIOD "Clk" 18 ns HIGH 50%;
