#NET "CLK_125MHz" LOC = F13 | IOSTANDARD =LVCMOS33;
#NET "CLK_25MHz" LOC = P26 | IOSTANDARD = LVCMOS33;

NET "Clk_125Mhz" LOC = F13 | IOSTANDARD = LVCMOS33;
NET "Clk_125Mhz" TNM_NET = "Clk_125MHz";
#TIMESPEC TS_Clk = PERIOD "Clk" 61.5 MHz HIGH 50%;
TIMESPEC TS_Clk = PERIOD "Clk_125Mhz" 125MHz HIGH 50%;

NET "LED<0>" LOC = P18 |IOSTANDARD = LVCMOS33;
NET "LED<1>" LOC = P25 |IOSTANDARD = LVCMOS33;
NET "LED<2>" LOC = N19 |IOSTANDARD = LVCMOS33;
NET "LED<3>" LOC = K22 |IOSTANDARD = LVCMOS33;
NET "LED<4>" LOC = H20 |IOSTANDARD = LVCMOS33;
NET "LED<5>" LOC = G21 |IOSTANDARD = LVCMOS33;
NET "LED<6>" LOC = D24 |IOSTANDARD = LVCMOS33;
NET "LED<7>" LOC = D25 |IOSTANDARD = LVCMOS33;

#NET "SWITCH1" LOC = A7 | IOSTANDARD = LVCMOS33;
